<ul style="width: 700px">
  <li *ngFor="let item of items">
    {{ item.name }} - ₹ {{ item.price }}
    
    <div *ngIf="item.addon">
      <ul>
        <li *ngFor="let addonItem of item.addon">
          {{addonItem.name}} - ₹ {{addonItem.price}} <input type="checkbox" (change)="addonAdd(item,addonItem,$event)" value="{{addonItem.price}}" >
        </li>
      </ul>
    </div>

    <button (click)="addToMyCart(item)">Add To Cart</button>
    <!-- <button (click)="addToMyCart(item)" [hidden]="item.count >= 1" *ngIf="item.count == 0 || item.count == null">Add To Cart</button> -->
    <!-- <div *ngIf="item.count">
      <button (click)=removeItem(item)>-</button> {{item.count}} <button (click)="addToMyCart(item)">+</button>
    </div> -->
    
  </li>
</ul>



<hr>

<h1>Cart Items</h1>
<li *ngFor="let item of cart">
  {{ item.name }} * {{ item.count }} = ₹ {{ item.price * item.count }}

</li>

<h2>Total: ₹ {{ total }}/-</h2>


<button (click)="purchaseProducts()" *ngIf="cart.length != 0">Buy</button>

